doctype html
html(lang="en")
  head
    title JavaScript Unit Test
    
  body
    h1 Color Palette
    each color in palette
      .color(style="background: " + color +"; height:100px; margin-bottom: 10px;")
        p=color
    
