meta(charset="UTF-8")
title Nodegram
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="css/style.css")
